files/schemas/XSD/PRODEP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:element name="cvu">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="Identificacion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nombre" type="xs:string" />
                            <xs:element name="Genero" type="xs:string"></xs:element>
                            <xs:element name="RFC" type="RFCType"></xs:element>
                            <xs:element name="CURP" type="Alfanumerico18"></xs:element>
                            <xs:element name="NacidoEn" type="xs:string"></xs:element>
                            <xs:element name="FechaNacimiento" type="DateType"></xs:element>
                            <xs:element name="IES" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="EstudiosRealizados">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Estudio" type="EstudioType" minOccurs="1"
                                maxOccurs="3"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="DatosLaborales">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Trabajo" type="TrabajoType" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="AreaDisciplinaActual">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Area" type="xs:string"></xs:element>
                            <xs:element name="Disciplina" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Produccion">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="ArticuloRevistaIndexada" type="ArticuloRevistaType" />
                            <xs:element name="CapituloLibro" type="CapituloType" />
                            <xs:element name="ArticuloArbitrado" type="ArticuloArbitradoType" />
                            <xs:element name="Memorias" type="MemoriaType" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Docencia">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Curso" type="CursoType" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="Tutorias">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TutoriaImpartida" type="TutoriaType" minOccurs="0"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="DireccionIndividualizada">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ProyectoDirigido" type="ProyectoDirigidoType" minOccurs="0"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="GestionAcademica">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Gestion" type="GestionType" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="LineaGAC">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="LGAC" type="LineaType" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="BeneficiosExternos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BeneficioExterno" type="BeneficioExternoType"
                                minOccurs="0" maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ProyectosDeInvestigacion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ProyectoInvestigacion" type="ProyectoType" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="BeneficiosPROMEP">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BeneficioPROMEP" type="BeneficioPROMEPType"
                                minOccurs="0" maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="CuerpoAcademico">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Nombre" type="xs:string" />
                            <xs:element name="Clave" type="xs:string"></xs:element>
                            <xs:element name="GradoDeConsolidacion" type="xs:string"></xs:element>
                            <xs:element name="LineasQueCultivaElCuerpo" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="ProgramasEducativos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Programa" type="ProgramaType" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--18
	caracteres-->
    <xs:simpleType name="Alfanumerico18">
        <xs:restriction base="xs:string">
            <xs:maxLength value="18" />
        </xs:restriction>
    </xs:simpleType>

    <!--Fecha-->
    <xs:simpleType name="DateType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{2}-\d{2}" />
        </xs:restriction>
    </xs:simpleType>

    <!--RFC-->
    <xs:simpleType name="RFCType">
        <xs:restriction base="xs:string">
            <xs:length value="13" />
        </xs:restriction>
    </xs:simpleType>

    <!--Estudios-->
    <xs:complexType name="EstudioType">
        <xs:sequence>
            <xs:element name="Nivel"></xs:element>
            <xs:element name="EstudiosEn" type="xs:string"></xs:element>
            <xs:element name="AreaDisciplina" type="xs:string"></xs:element>
            <xs:element name="Institucion" type="xs:string"></xs:element>
            <xs:element name="Pais" type="xs:string"></xs:element>
            <xs:element name="FechaInicio" type="DateType"></xs:element>
            <xs:element name="FechaFin" type="DateType"></xs:element>
            <xs:element name="FechaTitulo" type="DateType"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <!--Trabajo-->
    <xs:complexType name="TrabajoType">
        <xs:sequence>
            <xs:element name="Nombramiento" type="xs:string" />
            <xs:element name="TipoNombramiento" type="xs:string" />
            <xs:element name="Dedicacion" type="xs:string" />
            <xs:element name="Institucion" type="xs:string" />
            <xs:element name="Dependencia" type="xs:string" />
            <xs:element name="UnidadAcademica" type="xs:string" />
            <xs:element name="InicioContrato" type="DateType" />
            <xs:element name="FinContrato" type="DateType" minOccurs="0" />
            <xs:element name="Cronologia" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!--Artículos-->
    <xs:complexType name="ArticuloRevistaType">
        <xs:sequence>
            <xs:element name="Autores" type="xs:string" />
            <xs:element name="Titulo" type="xs:string" />
            <xs:element name="Descripcion" type="xs:string" />
            <xs:element name="EstadoActual" type="xs:string" />
            <xs:element name="Pais" type="xs:string" />
            <xs:element name="NombreRevista" type="xs:string" />
            <xs:element name="Editorial" type="xs:string" />
            <xs:element name="DeLaPagina" type="xs:string" />
            <xs:element name="ALaPagina" type="xs:string" />
            <xs:element name="Volumen" type="xs:string" />
            <xs:element name="IndiceDeRegistro" type="xs:string" />
            <xs:element name="ISSN" type="xs:string" />
            <xs:element name="Anio" type="xs:string" />
            <xs:element name="DireccionAlArticulo" type="xs:string" />
            <xs:element name="Proposito" type="xs:string" />
            <xs:element name="ConsiderarEnElCurriculum" type="xs:string" />
            <xs:element name="Miembros" type="xs:string" />
            <xs:element name="LGACS" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArticuloArbitradoType">
        <xs:sequence>
            <xs:element name="Autores" type="xs:string" />
            <xs:element name="Titulo" type="xs:string" />
            <xs:element name="EstadoActual" type="xs:string" />
            <xs:element name="Pais" type="xs:string" />
            <xs:element name="NombreRevista" type="xs:string" />
            <xs:element name="Editorial" type="xs:string" />
            <xs:element name="Volumen" type="xs:string" />
            <xs:element name="ISSN" type="xs:string" />
            <xs:element name="Anio" type="xs:string" />
            <xs:element name="Proposito" type="xs:string" />
            <xs:element name="ConsiderarEnElCurriculum" type="xs:string" />
            <xs:element name="Miembros" type="xs:string" />
            <xs:element name="LGACS" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!--Capitulos-->
    <xs:complexType name="CapituloType">
        <xs:sequence>
            <xs:element name="Autores" type="xs:string" />
            <xs:element name="Titulo" type="xs:string" />
            <xs:element name="EstadoActual" type="xs:string" />
            <xs:element name="Pais" type="xs:string" />
            <xs:element name="Editorial" type="xs:string" />
            <xs:element name="Edicion" type="xs:string" />
            <xs:element name="Tiraje" type="xs:string" />
            <xs:element name="ISBN" type="xs:string" />
            <xs:element name="Anio" type="xs:string" />
            <xs:element name="Proposito" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!--Memorias-->
    <xs:complexType name="MemoriaType">
        <xs:sequence>
            <xs:element name="Autores" type="xs:string" />
            <xs:element name="Titulo" type="xs:string" />
            <xs:element name="NombreCongreso" type="xs:string" />
            <xs:element name="Pais" type="xs:string" />
            <xs:element name="Estado" type="xs:string" />
            <xs:element name="Ciudad" type="xs:string" />
            <xs:element name="Anio" type="xs:string" />
            <xs:element name="DeLaPagina" type="xs:string" />
            <xs:element name="ALaPagina" type="xs:string" />
            <xs:element name="EstadoActual" type="xs:string" />
            <xs:element name="Proposito" type="xs:string" />
            <xs:element name="ConsiderarEnElCurriculum" type="xs:string" />
            <xs:element name="LGACS" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!--Curso-->
    <xs:complexType name="CursoType">
        <xs:sequence>
            <xs:element name="Nombre" type="xs:string" />
            <xs:element name="IES" type="xs:string" />
            <xs:element name="DES" type="xs:string" />
            <xs:element name="ProgramaEducativo" type="xs:string" />
            <xs:element name="Nivel" type="xs:string" />
            <xs:element name="FechaInicio" type="DateType" />
            <xs:element name="NoAlumnos" type="xs:string" />
            <xs:element name="Semanas" type="xs:string" />
            <xs:element name="HorasPorMes" type="xs:string" />
            <xs:element name="HorasPorSemana" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!--Tutoria-->
    <xs:complexType name="TutoriaType">
        <xs:sequence>
            <xs:element name="Tutoria" type="xs:string" />
            <xs:element name="NoEstudiantes" type="xs:string" />
            <xs:element name="Nivel" type="xs:string" />
            <xs:element name="ProgramaEducativo" type="xs:string" />
            <xs:element name="FechaInicio" type="DateType" />
            <xs:element name="FechaTermino" type="DateType" />
            <xs:element name="TipoTutelaje" type="xs:string" />
            <xs:element name="EstadoTutelaje" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!--Proyecto
    o Tesis-->
    <xs:complexType name="ProyectoDirigidoType">
        <xs:sequence>
            <xs:element name="Titulo" type="xs:string" />
            <xs:element name="Grado" type="xs:string" />
            <xs:element name="FechaInicio" type="DateType" />
            <xs:element name="FechaTermino" type="DateType" />
            <xs:element name="NoAlumnos" type="xs:string" />
            <xs:element name="EstadoDeDireccion" type="xs:string" />
            <xs:element name="ConsiderarEnElCurriculum" type="xs:string" />
            <xs:element name="Miembros" type="xs:string" />
            <xs:element name="LGACs" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GestionType">
        <xs:sequence>
            <xs:element name="Tipo" type="xs:string" />
            <xs:element name="Cargo" type="xs:string" />
            <xs:element name="Funcion" type="xs:string" />
            <xs:element name="OrganoPresentado" type="xs:string" />
            <xs:element name="Aprobado" type="xs:string" />
            <xs:element name="Resultados" type="xs:string" />
            <xs:element name="Estado" type="xs:string" />
            <xs:element name="FechaInicio" type="DateType" />
            <xs:element name="FechaTermino" type="DateType" minOccurs="0" />
            <xs:element name="FechaDeUltimoInforme" type="DateType" />
            <xs:element name="HorasPorSemana" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LineaType">
        <xs:sequence>
            <xs:element name="Linea" type="xs:string" />
            <xs:element name="ActividadesRealiza" type="xs:string" />
            <xs:element name="HorasPorSemana" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BeneficioExternoType">
        <xs:sequence>
            <xs:element name="Tipo" type="xs:string" />
            <xs:element name="Nivel" type="xs:string" />
            <xs:element name="FechaInicial" type="DateType" />
            <xs:element name="FechaFinal" type="DateType" />
            <xs:element name="Monto" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProyectoType">
        <xs:sequence>
            <xs:element name="Titulo" type="xs:string" />
            <xs:element name="NombrePatrocinador" type="xs:string" />
            <xs:element name="FechaInicio" type="DateType" />
            <xs:element name="FechaFin" type="DateType" />
            <xs:element name="TipoPatrocinador" type="xs:string" />
            <xs:element name="Investigadores" type="xs:string" />
            <xs:element name="AlumnosParticipantes" type="xs:string" />
            <xs:element name="ActividadesRealizadas" type="xs:string" />
            <xs:element name="ConsiderarEnElCurriculum" type="xs:string" />
            <xs:element name="Miembros" type="xs:string" />
            <xs:element name="LGACs" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BeneficioPROMEPType">
        <xs:sequence>
            <xs:element name="IES" type="xs:string" />
            <xs:element name="Solicitud" type="xs:string" />
            <xs:element name="Vigencia" type="VigenciaType" />
            <xs:element name="Estado" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VigenciaType">
        <xs:attribute name="Inicio" type="DateType" use="required" />
        <xs:attribute name="Fin" type="DateType" use="required" />
    </xs:complexType>

    <xs:complexType name="ProgramaType">
        <xs:sequence>
            <xs:element name="ProgramaEducativo" type="xs:string" />
            <xs:element name="Fecha" type="DateType" />
            <xs:element name="TipoDeActualizacion" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>