files/schemas/XSD/Rizoma.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!--Elemento
	Raíz-->
	<xs:element name="cvu">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MiPerfil">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Nombre" type="xs:string" />

							<xs:element name="Semblanza" type="Max2000Caracteres" />

							<xs:element name="ContactoDocente" type="ContactoType" />

							<xs:element name="Habilidades" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Habilidad" type="HabilidadType"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="Intereses" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Interes" type="xs:string"
											minOccurs="0"
											maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="AreaDeConocimiento" minOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Area" type="xs:string" />
										<xs:element name="Campo" type="xs:string" />
										<xs:element name="Disciplina" type="xs:string" />
										<xs:element name="Subdisciplina" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="IdentificadoresDeAutor" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Identificador"
											type="IdentificadorType"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
								<xs:unique name="uniqueOrganizacion">
									<xs:selector xpath="Identificador" />
									<xs:field xpath="@organizacion" />
								</xs:unique>
							</xs:element>

							<xs:element name="InformacionGeneral">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CURP" type="MinMax18Caracteres"
											minOccurs="1"
										/>
										<xs:element name="Nombre" type="xs:string"
											minOccurs="1"
										/>
										<xs:element name="PrimerApellido" type="xs:string"
											minOccurs="1" />
										<xs:element name="SegundoApellido" type="xs:string"
											minOccurs="0" />
										<xs:element name="FechaDeNacimiento" type="DateType"
											minOccurs="1" />
										<xs:element name="Sexo" type="Sexo2Options"
											minOccurs="1"
										/>
										<xs:element name="PaisDeNacimiento" type="xs:string"
											minOccurs="1" />
										<xs:element name="EntidadFederativa" type="xs:string"
											minOccurs="1" />
										<xs:element name="RFC" type="MinMax13Caracteres"
											minOccurs="1"
										/>
										<xs:element name="EstadoCivil" type="EstadoCivilType"
											minOccurs="1" />
										<xs:element name="Nacionalidad" type="xs:string"
											minOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="Domicilio">
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<!-- Contenido para México -->
											<xs:element name="DomicilioMexico">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="CodigoPostal"
															type="MinMax5Digitos" />
														<xs:element name="Estado"
															type="xs:string" />
														<xs:element name="MunicipioAlcaldia"
															type="xs:string" />
														<xs:element name="Localidad"
															type="xs:string" />
														<xs:element name="Asentamiento"
															type="xs:string" minOccurs="0" />
														<xs:element name="TipoAsentamiento"
															type="xs:string" minOccurs="0"
														/>
														<xs:element name="TipoDomicilio"
															type="TipoDomicilioType" />
														<xs:choice minOccurs="0">
															<xs:sequence>
																<xs:element
																	name="ReferenciasDomicilio"
																	minOccurs="0" maxOccurs="3">
																	<xs:complexType>
																		<xs:attribute
																			name="TipoDeCalle"
																			type="xs:string"
																			use="optional" />
																		<xs:attribute
																			name="NombreDeLaCalle"
																			type="xs:string"
																			use="optional" />
																	</xs:complexType>
																</xs:element>
																<xs:element
																	name="DescripcionDomicilio"
																	type="Max500Caracteres"
																	minOccurs="0" />
															</xs:sequence>
														</xs:choice>
														<xs:choice minOccurs="1">
															<xs:element name="DomicilioUrbano"
																minOccurs="0">
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="TipoDeVialidad"
																			type="xs:string"
																			minOccurs="1"
																		/>
																		<xs:element
																			name="NombreDeLaVialidad"
																			type="xs:string"
																			minOccurs="1"
																		/>
																		<xs:element
																			name="NumeroExterior"
																			type="NumeroExteriorType"
																			minOccurs="0"
																		/>
																		<xs:element
																			name="NumeroInterior"
																			type="NumeroInteriorType"
																			minOccurs="0"
																		/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
															<xs:element name="DomicilioRural"
																minOccurs="0"
															>
																<xs:complexType>
																	<xs:sequence>
																		<xs:element
																			name="TipoDeVialidad"
																			type="xs:string"
																		/>
																		<xs:element
																			name="NombreDeLaVialidad"
																			type="xs:string"
																		/>
																		<xs:element
																			name="Administracion"
																			type="xs:string"
																			minOccurs="0"
																		/>
																		<xs:element
																			name="DerechoDeTransito"
																			minOccurs="0"
																		>
																			<xs:simpleType>
																				<xs:restriction
																					base="xs:string">
																					<xs:enumeration
																						value="CUOTA" />
																					<xs:enumeration
																						value="LIBRE" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element name="Codigo"
																			type="xs:string"
																			minOccurs="0"
																		/>
																		<xs:element
																			name="OrigenTramo"
																			type="xs:string"
																			minOccurs="0"
																		/>
																		<xs:element
																			name="DestinoTramo"
																			type="xs:string"
																			minOccurs="0"
																		/>
																		<xs:element name="Margen"
																			minOccurs="0"
																		>
																			<xs:simpleType>
																				<xs:restriction
																					base="xs:string">
																					<xs:enumeration
																						value="DERECHO" />
																					<xs:enumeration
																						value="IZQUIERDO" />
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:element>
																		<xs:element
																			name="Cadenamiento"
																			type="xs:string"
																			minOccurs="0"
																		/>
																		<xs:element
																			name="NumeroExterior"
																			type="NumeroExteriorType"
																			minOccurs="0"
																		/>
																		<xs:element
																			name="NumeroInterior"
																			type="NumeroInteriorType"
																			minOccurs="0"
																		/>
																	</xs:sequence>
																</xs:complexType>
															</xs:element>
														</xs:choice>
													</xs:sequence>
													<xs:attribute name="InformacionExtra"
														use="optional">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="True" />
																<xs:enumeration value="False" />
															</xs:restriction>
														</xs:simpleType>
													</xs:attribute>
												</xs:complexType>
											</xs:element>
											<!-- Contenido para Extranjero -->
											<xs:element name="DomicilioExtranjero">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Pais"
															type="xs:string" />
														<xs:element name="CodigoPostal"
															type="xs:string" />
														<xs:element name="Estado"
															type="xs:string" />
														<xs:element name="Ciudad"
															type="xs:string" />
														<xs:element name="Condado"
															type="xs:string" />
														<xs:element name="Calle"
															type="xs:string" />
														<xs:element name="Numero"
															type="xs:string" />
														<xs:element
															name="Descripcion"
															type="Max500Caracteres" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
									<xs:attribute name="Ubicacion" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="México" />
												<xs:enumeration value="Extranjero" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>

							<xs:element name="ContactosDeEmergencia" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ContactoEmergencia" minOccurs="0"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Nombre"
														type="Min2Caracteres" />
													<xs:element
														name="PrimerApellido"
														type="Min2Caracteres" />
													<xs:element
														name="SegundoApellido"
														type="Min2Caracteres" minOccurs="0" />
													<xs:element name="Parentesco"
														type="xs:string" />
													<xs:element
														name="FechaDeNacimiento"
														type="DateType" />
													<xs:element name="Sexo"
														type="Sexo4Options" />
													<xs:element
														name="CorreoContacto"
														type="CorreoContactoType" />
													<xs:element name="Lada"
														type="Horas10DigitosType" />
													<xs:element name="TelefonoContacto"
														type="Horas10DigitosType" />
													<xs:element name="MovilContacto"
														type="Horas10DigitosType" />
													<xs:element name="MedioPreferente">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration
																	value="Correo electrónico" />
																<xs:enumeration value="Teléfono" />
																<xs:enumeration value="Movil" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:choice>
														<xs:element name="ContactoMexico">
															<xs:complexType>
																<xs:sequence>
																	<xs:element
																		name="CodigoPostal"
																		type="MinMax5Digitos" />
																	<xs:element
																		name="Estado"
																		type="xs:string" />
																	<xs:element
																		name="MunicipioAlcaldia"
																		type="xs:string" />
																	<xs:element
																		name="TipoAsentamiento"
																		type="xs:string" />
																</xs:sequence>
															</xs:complexType>
														</xs:element>
														<xs:element name="ContactoExtranjero">
															<xs:complexType>
																<xs:sequence>
																	<xs:element name="Pais"
																		type="xs:string" />
																	<xs:element name="CodigoPostal"
																		type="Min5Max10Digitos" />
																	<xs:element name="Estado"
																		type="xs:string" />
																	<xs:element name="Ciudad"
																		type="xs:string" />
																	<xs:element name="Condado"
																		type="xs:string" />
																	<xs:element name="Calle"
																		type="xs:string" />
																	<xs:element name="Numero"
																		type="xs:string" />
																	<xs:element name="Referencias">
																		<xs:simpleType>
																			<xs:restriction
																				base="xs:string">
																				<xs:maxLength
																					value="256" />
																			</xs:restriction>
																		</xs:simpleType>
																	</xs:element>
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:sequence>
												<xs:attribute name="Ubicacion" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Mexico" />
															<xs:enumeration value="Extranjero" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="DependientesEconomicos" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DependienteEconomico" minOccurs="0"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:choice>
													<xs:element name="DependienteMexicano">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CURP"
																	type="MinMax18Caracteres" />
																<xs:element name="Nombre"
																	type="xs:string" />
																<xs:element name="PrimerApellido"
																	type="xs:string" />
																<xs:element name="SegundoApellido"
																	type="xs:string" minOccurs="0" />
																<xs:element name="FechaDeNacimiento"
																	type="DateType" />
																<xs:element name="Edad"
																	type="xs:positiveInteger" />
																<xs:element name="Parentesco">
																	<xs:simpleType>
																		<xs:restriction
																			base="xs:string">
																			<xs:enumeration
																				value="Concubino" />
																			<xs:enumeration
																				value="Cónyugue" />
																			<xs:enumeration
																				value="Hija" />
																			<xs:enumeration
																				value="Hija mayor de edad" />
																			<xs:enumeration
																				value="Hijo" />
																			<xs:enumeration
																				value="Hijo mayor de edad" />
																			<xs:enumeration
																				value="Madre" />
																			<xs:enumeration
																				value="Padre" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Sexo"
																	type="Sexo4Options" />
																<xs:element name="Orden">
																	<xs:simpleType>
																		<xs:restriction
																			base="xs:integer">
																			<xs:maxInclusive
																				value="999" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>

													<xs:element name="DependienteExtranjero">
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="Nombre"
																	type="xs:string" />
																<xs:element
																	name="PrimerApellido"
																	type="xs:string" />
																<xs:element
																	name="SegundoApellido"
																	type="xs:string" />
																<xs:element
																	name="FechaDeNacimiento"
																	type="DateType" />
																<xs:element
																	name="Edad"
																	type="xs:positiveInteger" />
																<xs:element
																	name="Parentesco">
																	<xs:simpleType>
																		<xs:restriction
																			base="xs:string">
																			<xs:enumeration
																				value="Concubino" />
																			<xs:enumeration
																				value="Cónyugue" />
																			<xs:enumeration
																				value="Hija" />
																			<xs:enumeration
																				value="Hija mayor de edad" />
																			<xs:enumeration
																				value="Hijo" />
																			<xs:enumeration
																				value="Hijo mayor de edad" />
																			<xs:enumeration
																				value="Madre" />
																			<xs:enumeration
																				value="Padre" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element
																	name="Sexo"
																	type="Sexo4Options" />
																<xs:element
																	name="Orden">
																	<xs:simpleType>
																		<xs:restriction
																			base="xs:integer">
																			<xs:maxInclusive
																				value="999" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
												<xs:attribute
													name="Nacionalidad"
													use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="Mexican" />
															<xs:enumeration value="Foreign" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>

								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="TrayectoriaAcademica">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Trayectoria" minOccurs="1"
								maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NivelDeEscolaridad" minOccurs="1"
											maxOccurs="unbounded">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Doctorado" />
													<xs:enumeration value="Especialidad" />
													<xs:enumeration value="Licenciatura" />
													<xs:enumeration value="Maestría" />
													<xs:enumeration value="Preparatoria" />
													<xs:enumeration value="Técnico Superior" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>

										<xs:element name="Titulo" type="xs:string" />

										<xs:element name="EstadoDelGrado">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Créditos terminados" />
													<xs:enumeration value="Grado obtenido" />
													<xs:enumeration
														value="Título o grado en proceso" />
													<xs:enumeration value="Truncado" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>

										<xs:element name="InstitucionCompleja"
											type="InstitucionType"
											minOccurs="1" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="CursosTomados" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CursoComplejo" type="CursoType"
											minOccurs="0"
											maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="CertificacionesTomadas" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CertificacionCompleja"
											type="CertificacionType"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>

							</xs:element>

							<xs:element name="LogrosAlcanzados" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="LogroComplejo" type="LogroType"
											minOccurs="0"
											maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="IdiomasLenguas" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="IdiomaComplejo" type="IdiomaType"
											minOccurs="0"
											maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="TrayectoriaProfesional">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Empleos" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EmpleoComplejo" type="EmpleoType"
											minOccurs="0"
											maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="Produccion" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice>
										<!-- Producción Humanista -->
										<xs:sequence>
											<xs:element name="Articulo" type="ArticuloType"
												minOccurs="0" maxOccurs="unbounded" />
											<xs:element name="Libro" type="LibroType"
												minOccurs="0" maxOccurs="unbounded" />
											<xs:element name="Capitulo" type="CapituloType"
												minOccurs="0" maxOccurs="unbounded" />
										</xs:sequence>

										<!-- Producción Tecnológica -->
										<xs:sequence>
											<xs:element name="Desarrollo"
												type="DesarrolloType"
												minOccurs="0" maxOccurs="unbounded" />
											<xs:element name="PropiedadIntelectual"
												type="PropiedadIntelectualType"
												minOccurs="0" maxOccurs="unbounded" />
											<xs:element name="Transferencia"
												type="TransferenciaType" minOccurs="0"
												maxOccurs="unbounded" />
										</xs:sequence>
									</xs:choice>

									<xs:attribute name="Tipo" use="required">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="Humanista" />
												<xs:enumeration value="Tecnológica" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>

							</xs:element>

							<xs:element name="EvaluacionesRealizadas" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Evaluacion" type="EvaluacionType"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="EstanciasTomadas" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Estancia" type="EstanciaType"
											minOccurs="0"
											maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="HCTI" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Comunidad" type="ComunidadHCTIType"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="AccesoUniversalAlConocimiento" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AccesoConocimiento"
											type="AccesoAlConocimientoType" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="ENI_GEMA_Sisdai" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ElementoDelENI" type="ENI_GEMA_SisdaiType"
											minOccurs="0"
											maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>

				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!--Complex
	Types-->

	<!--Contacto
	del Docente-->
	<xs:complexType name="ContactoType">
		<xs:sequence>
			<xs:element name="CorreoDocente" type="CorreoDocenteType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="MovilDocente" type="TelefonoType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="TelefonoDocente" type="TelefonoType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="RedSocialDocente" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--Correo
	Cualquiera-->
	<xs:simpleType name="CorreoContenido">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^@]+@[^@]+\.[^@]+" />
		</xs:restriction>
	</xs:simpleType>

	<!--Correo
	del Docente-->
	<xs:complexType name="CorreoDocenteType">
		<xs:simpleContent>
			<xs:extension base="CorreoContenido">
				<xs:attribute name="Principal" use="required" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!--Correo
	del Contacto-->
	<xs:complexType name="CorreoContactoType">
		<xs:simpleContent>
			<xs:extension base="CorreoContenido">
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!--Teléfono
	Docente-->
	<xs:complexType name="TelefonoType">
		<xs:simpleContent>
			<xs:extension base="DiezDigitos">
				<xs:attribute name="Principal" type="xs:boolean" use="required" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!--Habilidades
	del Docente-->
	<xs:complexType name="HabilidadType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="experiencia" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:enumeration value="25" />
							<xs:enumeration value="50" />
							<xs:enumeration value="75" />
							<xs:enumeration value="100" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!--Identificadores
	de Autor-->
	<xs:complexType name="IdentificadorType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="organizacion" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ORC" />
							<xs:enumeration value="Thomson" />
							<xs:enumeration value="arXiv" />
							<xs:enumeration value="PubMed" />
							<xs:enumeration value="Open" />
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!--Estado
	Civil-->
	<xs:simpleType name="EstadoCivilType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Casado(a)" />
			<xs:enumeration value="Contrato de convivencia" />
			<xs:enumeration value="Divorciado(a)" />
			<xs:enumeration value="Separado(a)" />
			<xs:enumeration value="Soltero(a)" />
			<xs:enumeration value="Unión libre" />
			<xs:enumeration value="Viudo(a)" />
		</xs:restriction>
	</xs:simpleType>

	<!--Tipo
	Domicilio-->
	<xs:simpleType name="TipoDomicilioType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Urbano" />
			<xs:enumeration value="Rural" />
		</xs:restriction>
	</xs:simpleType>

	<!--Número
	Exterior-->
	<xs:complexType name="NumeroExteriorType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="ParteNumerica" type="xs:string" use="optional" />
				<xs:attribute name="NumeroExteriorAnterior" type="xs:string" use="optional" />
				<xs:attribute name="ParteAlfanumerica" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!--Numéro
	Interior-->
	<xs:complexType name="NumeroInteriorType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="ParteNumerica" type="xs:string" use="optional" />
				<xs:attribute name="ParteAlfanumerica" type="xs:string" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<!--Institución-->
	<xs:complexType name="InstitucionType">
		<xs:choice>
			<xs:element name="InstitucionNacional">
				<xs:complexType>
					<xs:choice>
						<xs:element name="SectorSimple">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Nombre" type="xs:string" />
								</xs:sequence>
								<xs:attribute name="Sector" use="required">
									<xs:simpleType>
										<xs:restriction base="xs:string">
											<xs:enumeration value="Pública-Federal" />
											<xs:enumeration value="Privada" />
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>

						<!-- Pública-Estatal -->
						<xs:element name="SectorEstatal">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Nombre" type="xs:string" />
									<xs:element name="Entidad" type="xs:string" />
								</xs:sequence>
								<xs:attribute name="SectorInstitucionEstatal" use="required"
									fixed="Pública-Estatal" />
							</xs:complexType>
						</xs:element>

						<!-- Pública-Municipal -->
						<xs:element name="SectorMunicipal">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Nombre" type="xs:string" />
									<xs:element name="Entidad" type="xs:string" />
									<xs:element name="MunicipioAlcaldia" type="xs:string" />
								</xs:sequence>
								<xs:attribute name="Sector" use="required"
									fixed="Pública-Municipal" />
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>

			<!-- Institución Extranjera -->
			<xs:element name="InstitucionExtranjera">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nombre" type="xs:string" />
						<xs:element name="Pais" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>

		<xs:attribute name="TipoDeInstitucion" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Nacional" />
					<xs:enumeration value="Extranjera" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Cursos-->
	<xs:complexType name="CursoType">
		<xs:sequence>
			<xs:element name="TipoDeFormacionContinua" type="xs:string" />
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="Anio" type="AnioType" />
			<xs:element name="HorasTotales" type="Horas4DigitosType" />
			<xs:element name="InstitucionCompleja" type="InstitucionType" />
		</xs:sequence>
	</xs:complexType>

	<!--Certificaciones-->
	<xs:complexType name="CertificacionType">
		<xs:sequence>
			<xs:element name="NumeroDeFolio" type="Folio50Type" />
			<xs:element name="ConsejoOtorgado" type="xs:string" />
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="Especialidad" type="xs:string" />
			<xs:element name="Vigencia" type="VigenciaType" />
		</xs:sequence>
		<xs:attribute name="Tipo" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Certificacion" />
					<xs:enumeration value="Recertificacion" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Logros-->
	<xs:complexType name="LogroType">
		<xs:choice>
			<xs:element name="LogroSECIHTI">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Nombre" type="xs:string" />
						<xs:element name="Anio" type="AnioType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="LogroOtros">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Anio" type="AnioType" />
						<xs:element name="Nombre" type="xs:string" />
						<xs:element name="InstitucionCompleja" type="InstitucionType" />
						<xs:element name="Pais" type="xs:string" />
						<xs:element name="Descripcion" type="Max500Caracteres" />

					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>

		<xs:attribute name="Tipo" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SECIHTI" />
					<xs:enumeration value="Otros" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Idiomas
	o lenguas-->
	<xs:complexType name="IdiomaType">
		<xs:sequence>
			<xs:element name="Idioma" type="xs:string" />
			<xs:element name="GradoDeDominio" type="xs:string" />
			<xs:element name="NivelDeConversacion" type="xs:string" />
			<xs:element name="NivelDeLectura" type="xs:string" />
			<xs:element name="NivelDeEscritura" type="xs:string" />

			<xs:element name="CertificacionIdioma" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Institucion" type="xs:string" minOccurs="0" />
						<xs:element name="FechaDeEvaluacion" type="DateType" />
						<xs:element name="Documento" type="xs:string" />
						<xs:element name="Vigencia" type="VigenciaType" />
						<xs:element name="Puntos" type="xs:string" />
						<xs:element name="Nivel" type="xs:string" />
					</xs:sequence>
					<xs:attribute name="Certificacion" use="optional" fixed="True" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Certificacion" use="optional"/>
	</xs:complexType>

	<!--Empleos-->
	<xs:complexType name="EmpleoType">
		<xs:sequence>
			<xs:element name="InstitucionCompleja" type="InstitucionType" />
			<xs:element name="FechaInicio" type="xs:date" />
			<xs:element name="Nombre" type="Texto1000Type" />
			<xs:element name="Logros" type="Texto1000Type" minOccurs="0" />

			<xs:element name="FechaFin" type="xs:date" minOccurs="0" />
		</xs:sequence>
		<xs:attribute name="EmpleoActual" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:boolean" />
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="EmpleoPrincipal" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:boolean" />
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FechaFinalizacion" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:boolean" />
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Artículos-->
	<xs:complexType name="ArticuloType">
		<xs:sequence>
			<xs:element name="ISNNImpreso" type="Folio50Type" minOccurs="0" />
			<xs:element name="ISNNElectronico" type="Folio50Type" minOccurs="0" />


			<!-- Campos principales -->
			<xs:element name="DOI" type="AlfaNum70Type" />
			<xs:element name="NombreDeLaRevista" type="xs:string" />
			<xs:element name="TituloDeArticulo" type="xs:string" />
			<xs:element name="Anio" type="AnioType" />

			<!-- Apoyo SECIHTI -->
			<xs:element name="Programa" type="xs:string" minOccurs="0" />

			<xs:element name="Rol" type="xs:string" />
			<xs:element name="Estatus" type="xs:string" />
			<xs:element name="Objetivo" type="xs:string" />

			<xs:element name="Citas" type="CitasType" minOccurs="0" />

			<xs:element name="Autores" type="AutoresType" />

			<xs:element name="EjeSECIHTI" type="xs:string" />

		</xs:sequence>

		<xs:attribute name="ISNN" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Impreso" />
					<xs:enumeration value="Electrónico" />
					<xs:enumeration value="Ambos" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>

		<xs:attribute name="ApoyoSECIHTI" use="required" type="xs:boolean" />
	</xs:complexType>

	<!--Libros-->
	<xs:complexType name="LibroType">
		<xs:sequence>
			<xs:element name="ISBN" type="Folio50Type" />
			<xs:element name="DOI" type="AlfaNum70Type" />
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="Anio" type="AnioType" />
			<xs:element name="Editorial" type="xs:string" />
			<xs:element name="Pais" type="xs:string" />
			<xs:element name="Idioma" type="xs:string" />
			<xs:element name="ISBNTraducido" type="Folio50Type" />
			<xs:element name="IdiomaTraducido" type="xs:string" />
			<xs:element name="TituloTraducido" type="xs:string" />

			<!-- Programa solo si ApoyoSECIHTI=True, validación fuera del XSD -->
			<xs:element name="Programa" type="xs:string" minOccurs="0" />

			<xs:element name="Rol" type="xs:string" />
			<xs:element name="EstadoDePublicacion" type="xs:string" />
			<xs:element name="Objetivo" type="xs:string" />

			<xs:element name="CitasLibro" type="CitasLibroType" minOccurs="0" />
			<xs:element name="Autores" type="AutoresType" />
		</xs:sequence>

		<!-- Atributos -->
		<xs:attribute name="ApoyoSECIHTI" use="required" type="xs:boolean" />
		<xs:attribute name="Dictaminado" use="required" type="xs:boolean" />
	</xs:complexType>

	<!--Capitulos-->
	<xs:complexType name="CapituloType">
		<xs:sequence>
			<xs:element name="ISBN" type="Folio50Type" />
			<xs:element name="DOI" type="AlfaNum70Type" />
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="Anio" type="AnioType" />
			<xs:element name="Editorial" type="xs:string" />
			<xs:element name="TituloDelCapitulo" type="xs:string" />
			<xs:element name="NumeroDeCapitulo" type="Folio50Type" />

			<!-- Programa solo si ApoyoSECIHTI=True -->
			<xs:element name="Programa" type="xs:string" minOccurs="0" />

			<xs:element name="Rol" type="xs:string" />
			<xs:element name="EstadoDePublicacion" type="xs:string" />
			<xs:element name="Objetivo" type="xs:string" />

			<xs:element name="Citas" type="CitasType" minOccurs="0" />
			<xs:element name="Autores" type="AutoresType" />
			<xs:element name="EjeSECIHTI" type="xs:string" />
		</xs:sequence>

		<xs:attribute name="ApoyoSECIHTI" use="required" type="xs:boolean" />
		<xs:attribute name="Dictaminado" use="required" type="xs:boolean" />
	</xs:complexType>

	<!--Desarrollo-->
	<xs:complexType name="DesarrolloType">
		<xs:choice>
			<xs:element name="DesarrolloProducto" type="DesarrolloProductoType" />
			<xs:element name="InnovacionProducto" type="InnovacionProductoType" />
		</xs:choice>
		<xs:attribute name="Producto" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Desarrollo" />
					<xs:enumeration value="Innovación" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Prodcuto-->
	<xs:complexType name="DesarrolloProductoType">
		<xs:sequence>
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="Tipo" type="xs:string" />
			<xs:element name="Descripcion" type="Texto1000Type" />
			<xs:element name="ObjetivosDelProducto" type="Texto1000Type" />
			<xs:element name="ProblemaQueAtiende" type="Texto1000Type" />
			<xs:element name="PersonasBeneficiadas" type="BeneficiariosType" />
			<xs:element name="Justificacion" type="Texto1000Type" />
			<xs:element name="ImpactoEnBeneficiados" type="Texto1000Type" />

			<!-- Apoyo SECIHTI -->
			<xs:element name="Programa" type="xs:string" minOccurs="0" />
			<xs:element name="TipoDeApoyo" type="Texto1000Type" minOccurs="0" />
			<xs:element name="TituloUltimoProyectoApoyado" type="xs:string" minOccurs="0" />
			<xs:element name="NumeroUltimoProyectoApoyado" type="AlfaNum20Type" minOccurs="0" />

			<xs:element name="NivelDeMadurezTecnologica" type="xs:string" />
			<xs:element name="OtrosResultadosRelevantes" type="Texto1000Type" />
			<xs:element name="Rol" type="xs:string" />
			<xs:element name="ActividadesRealizadas" type="Texto1000Type" />

			<xs:element name="PeriodoDeParticipacion" type="VigenciaType" />
			<xs:element name="PrincipalesResultados" type="Texto1000Type" />
			<xs:element name="Actores" type="ActoresType" />
			<xs:element name="EjeSECIHTI" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="ApoyoSECIHTI" use="required" type="xs:boolean" />
	</xs:complexType>

	<!--Inovación-->
	<xs:complexType name="InnovacionProductoType">
		<xs:sequence>
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="ObjetivosDelProducto" type="Texto1000Type" />
			<xs:element name="ProblemaQueAtiende" type="Texto1000Type" />
			<xs:element name="PersonasBeneficiadas" type="BeneficiariosType" />
			<xs:element name="Justificacion" type="Texto1000Type" />
			<xs:element name="ImpactoEnBeneficiados" type="Texto1000Type" />
			<xs:element name="DescripcionDeLaInnovacion" type="Texto1000Type" />
			<xs:element name="SectorSCIAN" type="xs:string" />
			<xs:element name="SubsectorSCIAN" type="xs:string" />
			<xs:element name="Rama" type="xs:string" />
			<xs:element name="Subrama" type="xs:string" />
			<xs:element name="Clase" type="xs:string" />
			<xs:element name="SectorOCDE" type="xs:string" />
			<xs:element name="Division" type="xs:string" />
			<xs:element name="Grupo" type="xs:string" />
			<xs:element name="ClaseOCDE" type="xs:string" />

			<!-- Apoyo SECIHTI -->
			<xs:element name="Programa" type="xs:string" minOccurs="0" />
			<xs:element name="TipoDeApoyo" type="Texto1000Type" minOccurs="0" />
			<xs:element name="TituloUltimoProyectoApoyado" type="xs:string" minOccurs="0" />
			<xs:element name="NumeroUltimoProyectoApoyado" type="AlfaNum20Type" minOccurs="0" />
			<xs:element name="NivelDeMadurezTecnologica" type="xs:string" />
			<xs:element name="OtrosResultadosRelevantes" type="Texto1000Type" />
			<xs:element name="Rol" type="xs:string" />
			<xs:element name="ActividadesRealizadas" type="Texto1000Type" />
			<xs:element name="PeriodoDeParticipacion" type="VigenciaType" />
			<xs:element name="PrincipalesResultados" type="Texto1000Type" />
			<xs:element name="Actores" type="ActoresType" />
			<xs:element name="EjeTematico" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="ApoyoSECIHTI" use="required" type="xs:boolean" />
	</xs:complexType>

	<!--Beneficiarios-->
	<xs:simpleType name="BeneficiariosType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="100-1000" />
			<xs:enumeration value="1001-10000" />
			<xs:enumeration value="10001-100000" />
			<xs:enumeration value="101000+" />
		</xs:restriction>
	</xs:simpleType>

	<!--20
	Caracteres-->
	<xs:simpleType name="AlfaNum20Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<!--Actores-->
	<xs:complexType name="ActoresType">
		<xs:sequence>
			<xs:element name="Actor" type="ActorType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!--Solicitantes-->
	<xs:complexType name="SolicitantesType">
		<xs:sequence>
			<xs:element name="Solicitante" type="ActorType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ActorType">
		<xs:sequence>
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="PrimerApellido" type="xs:string" />
			<xs:element name="SegundoApellido" type="xs:string" minOccurs="0" />
			<xs:element name="Rol" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--Propiedad
	Intelectual-->
	<xs:complexType name="PropiedadIntelectualType">
		<xs:choice>
			<xs:element name="PropiedadMexico" type="PropiedadMexicoType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="PropiedadInternacional" type="PropiedadInternacionalType"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="PropiedadAmbas" type="PropiedadAmbasType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="Tipo" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="México" />
					<xs:enumeration value="Internacional" />
					<xs:enumeration value="Ambas" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Propiedad
	Intelectual en México-->
	<xs:complexType name="PropiedadMexicoType">
		<xs:sequence>
			<xs:element name="TipoDeProteccion" type="xs:string" />
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="Resumen" type="Texto1000Type" />
			<xs:element name="Solicitantes" type="SolicitantesType" />
			<xs:element name="Rol" type="xs:string" />
			<xs:element name="NumeroDeSolicitud" type="AlfaNum20Type" />
			<xs:element name="FechaDePresentacion" type="xs:date" />
			<xs:element name="Estado" type="xs:string" />
			<xs:element name="EjesTematicos" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--Propiedad
	Intelectual Internacional-->
	<xs:complexType name="PropiedadInternacionalType">
		<xs:sequence>
			<xs:element name="TipoDeProteccion" type="xs:string" />
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="Resumen" type="Texto1000Type" />
			<xs:element name="Solicitantes" type="ActoresType" />
			<xs:element name="Rol" type="xs:string" />
			<xs:element name="NumeroDeSolicitud" type="AlfaNum20Type" />
			<xs:element name="NumeroDePublicacion" type="AlfaNum20Type" />
			<xs:element name="Estado" type="xs:string" />
			<xs:element name="EjesTematicos" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--Propiedad
	Intelectual Internacional y en México-->
	<xs:complexType name="PropiedadAmbasType">
		<xs:sequence>
			<xs:element name="TipoDeProteccion" type="xs:string" />
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="Resumen" type="Texto1000Type" />
			<xs:element name="Solicitantes" type="ActoresType" />
			<xs:element name="Rol" type="xs:string" />
			<xs:element name="NumeroDeSolicitudMexico" type="AlfaNum20Type" />
			<xs:element name="FechaDePresentacionMexico" type="xs:date" />
			<xs:element name="NumeroDeSolicitudInternacional" type="AlfaNum20Type" />
			<xs:element name="NumeroDePublicacionInternacional" type="AlfaNum20Type" />
			<xs:element name="Estado" type="xs:string" />
			<xs:element name="EjesTematicos" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--Transferencia-->
	<xs:complexType name="TransferenciaType">
		<xs:sequence>
			<xs:element name="TipoDeActividad" type="xs:string" />
			<xs:element name="DescripcionDeLaActividad" type="Texto1000Type" />
			<xs:element name="Rol" type="xs:string" />
			<xs:element name="DescripcionDeActividades" type="Texto1000Type" />
			<xs:element name="PeriodoDeParticipacion" type="VigenciaType" />
			<xs:element name="Resultados" type="Texto1000Type" />
			<xs:element name="InstitucionCompleja" type="InstitucionType" maxOccurs="unbounded" />
			<xs:element name="Actores" type="ActoresType" />
			<xs:element name="EjesTematicos" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--Evaluacion-->
	<xs:complexType name="EvaluacionType">
		<xs:choice>
			<xs:element name="EvaSECIHTI" type="EvaSECIHTI" />
			<xs:element name="EvaOtros" type="EvaOtros" />
		</xs:choice>
		<xs:attribute name="Tipo" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SECIHTI" />
					<xs:enumeration value="Otros" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Evaluación
	SECIHTI-->
	<xs:complexType name="EvaSECIHTI">
		<xs:sequence>
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="FechaAsignacion" type="DateType" />
			<xs:element name="FechaAceptacion" type="DateType" />
			<xs:element name="FechaDeEvaluacion" type="DateType" />
			<xs:element name="Descripcion" type="Max500Caracteres" />
		</xs:sequence>
	</xs:complexType>

	<!--Evaluacion
	Otros-->
	<xs:complexType name="EvaOtros">
		<xs:sequence>
			<xs:element name="Institucion" type="Texto400Type" />
			<xs:element name="ProductoEvaluado" type="xs:string" />
			<xs:element name="FechaInicio" type="DateType" />
			<xs:element name="FechaFinalizacion" type="DateType" />
			<xs:element name="CargoDesempeniado" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--400
	caracteres-->
	<xs:simpleType name="Texto400Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="400" />
		</xs:restriction>
	</xs:simpleType>

	<!--Estancias-->
	<xs:complexType name="EstanciaType">
		<xs:sequence>
			<xs:element name="InstitucionCompleja" type="InstitucionType" />
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="FechaInicio" type="DateType" />
			<xs:element name="FechaFinalizacion" type="DateType" />
			<xs:element name="Tipo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Académica" />
						<xs:enumeration value="Postdoctoral" />
						<xs:enumeration value="Sabática" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Logros" type="Max500Caracteres" />
		</xs:sequence>
	</xs:complexType>

	<!--Comunidad
	HCTI-->
	<xs:complexType name="ComunidadHCTIType">
		<xs:choice>
			<xs:element name="Docencia" type="DocenciaType" />
			<xs:element name="TrabajosDeTitulacion" type="TrabajosDeTitulacionType" />
			<xs:element name="DesarrolloInstitucional" type="DesarrolloInstitucionalType" />
		</xs:choice>
		<xs:attribute name="Tipo" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Docencia" />
					<xs:enumeration value="TrabajosDeTitulacion" />
					<xs:enumeration value="DesarrolloInstitucional" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Docencia-->
	<xs:complexType name="DocenciaType">
		<xs:sequence>
			<xs:element name="CursosImpartidos" type="CursosType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="DiplomadosTomados" type="DiplomadosType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!--Cursos
	Impartidos-->
	<xs:complexType name="CursosType">
		<xs:choice>
			<xs:element name="CursoSNP" type="CursoSNPType" />
			<xs:element name="CursoNoSNP" type="CursoNoSNPType" />
		</xs:choice>
		<xs:attribute name="Tipo" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SNP" />
					<xs:enumeration value="NoSNP" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Cursos
	SNP-->
	<xs:complexType name="CursoSNPType">
		<xs:sequence>
			<xs:element name="Institucion" type="xs:string" />
			<xs:element name="Programa" type="xs:string" />
			<xs:element name="Curso" type="xs:string" />
			<xs:element name="Horas" type="Horas4DigitosType" />
			<xs:element name="FechaInicio" type="DateType" />
			<xs:element name="FechaFinalizacion" type="DateType" />
			<xs:element name="Nivel" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--Cursos
	no SNP-->
	<xs:complexType name="CursoNoSNPType">
		<xs:sequence>
			<xs:element name="InstitucionCompleja" type="InstitucionType" />
			<xs:element name="Programa" type="xs:string" />
			<xs:element name="Curso" type="xs:string" />
			<xs:element name="Horas" type="Horas4DigitosType" />
			<xs:element name="FechaInicio" type="DateType" />
			<xs:element name="FechaFinalizacion" type="DateType" />
			<xs:element name="Nivel" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!--Diplomados
	tomados-->
	<xs:complexType name="DiplomadosType">
		<xs:sequence>
			<xs:element name="InstitucionCompleja" type="InstitucionType" />
			<xs:element name="Diplomado" type="xs:string" />
			<xs:element name="Curso" type="xs:string" />
			<xs:element name="Anio" type="xs:string" />
			<xs:element name="Horas" type="Horas10DigitosType" />
		</xs:sequence>
	</xs:complexType>

	<!--Trabajos
	de Titulación-->
	<xs:complexType name="TrabajosDeTitulacionType">
		<xs:choice>
			<xs:element name="TrabajoSNP" type="TrabajoSNPType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="TrabajoNoSNP" type="TrabajoNoSNPType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:choice>
		<xs:attribute name="Tipo" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SNP" />
					<xs:enumeration value="NoSNP" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Trabajos
	SNP-->
	<xs:complexType name="TrabajoSNPType">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" />
			<xs:element name="Institucion" type="xs:string" />
			<xs:element name="Programas" type="xs:string" />
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="EstadoDelTrabajo" type="xs:string" />
			<xs:element name="AutorTrabajo" type="AutoresTrabajoType" maxOccurs="unbounded" />
			<xs:element name="GradoAcademicoDelTrabajo" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--Trabajos
	No SNP-->
	<xs:complexType name="TrabajoNoSNPType">
		<xs:sequence>
			<xs:element name="Tipo" type="xs:string" />
			<xs:element name="InstitucionCompleja" type="InstitucionType" /> <!-- Reutilizable -->
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="EstadoDelTrabajo" type="xs:string" />
			<xs:element name="AutorTrabajo" type="AutoresTrabajoType" maxOccurs="unbounded" />
			<xs:element name="GradoAcademicoDelTrabajo" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--Desarrollo
	institucional-->
	<xs:complexType name="DesarrolloInstitucionalType">
		<xs:sequence>
			<xs:element name="Proyectos" type="Texto4000Type" />
			<xs:element name="PlanesDeEstudio" type="Texto4000Type" />
			<xs:element name="EjesProgramaticos" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--Autores
	de Trabajos-->
	<xs:complexType name="AutoresTrabajoType">
		<xs:sequence>
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="PrimerApellido" type="xs:string" />
			<xs:element name="SegundoApellido" type="xs:string" minOccurs="0" />
			<xs:element name="Rol" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--4000
	caracteres-->
	<xs:simpleType name="Texto4000Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000" />
		</xs:restriction>
	</xs:simpleType>

	<!--Máximo
	10 dígitos-->
	<xs:simpleType name="Horas10DigitosType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1" />
			<xs:maxInclusive value="9999999999" />
		</xs:restriction>
	</xs:simpleType>

	<!--Acceso
	Universal al conocimiento-->
	<xs:complexType name="AccesoAlConocimientoType">
		<xs:sequence>
			<xs:element name="Difusion" type="DifusionType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Divulgacion" type="DivulgacionType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="Participacion" type="ParticipacionType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!--Difusión
	Type-->
	<xs:complexType name="DifusionType">
		<xs:sequence>
			<xs:element name="Articulo" type="ArticuloType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Libro" type="LibroType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Capitulo" type="CapituloType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!--Divulgación-->
	<xs:complexType name="DivulgacionType">
		<xs:sequence>
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="TipoParticipacion" type="xs:string" />
			<xs:element name="TipoEvento" type="xs:string" />
			<xs:element name="InstitucionOrganizadora" type="xs:string" />
			<xs:element name="DirigidoA" type="xs:string" />
			<xs:element name="Fecha" type="DateType" />
			<xs:element name="Medio" type="xs:string" />
			<xs:element name="NotasPeriodisticas" type="Texto4000Type" />
			<xs:element name="ProductoObtenido" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="Tipo" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Nacional" />
					<xs:enumeration value="Internacional" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>

	<!--Participación-->
	<xs:complexType name="ParticipacionType">
		<xs:sequence>
			<xs:element name="NombreCongreso" type="xs:string" />
			<xs:element name="Titulo" type="xs:string" />
			<xs:element name="TipoParticipacion" type="xs:string" />
			<xs:element name="Pais" type="xs:string" />
			<xs:element name="Fecha" type="DateType" />
		</xs:sequence>
	</xs:complexType>

	<!--ENI
	GEMA Sisdai-->
	<xs:complexType name="ENI_GEMA_SisdaiType">
		<xs:sequence>
			<xs:element name="ENI" type="ENIType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="GEMA" type="GEMAType" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Sisdai" type="SisdaiType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!--ENI-->
	<xs:complexType name="ENIType">
		<xs:sequence>
			<xs:element name="URL" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--GEMA-->
	<xs:complexType name="GEMAType">
		<xs:sequence>
			<xs:element name="URL" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!--SISDAI-->
	<xs:complexType name="SisdaiType">
		<xs:sequence>
			<xs:element name="Bibliotecas" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Descripcion" type="Max2000Caracteres" />
		</xs:sequence>
	</xs:complexType>

	<!--DATOS
	REUTILIZABLES-->

	<!--Máximo
	2000 caracteres-->
	<xs:simpleType name="Max2000Caracteres">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000" />
		</xs:restriction>
	</xs:simpleType>

	<!--Mínimo
	y máximo 10 dígitos-->
	<xs:simpleType name="DiezDigitos">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}" />
		</xs:restriction>
	</xs:simpleType>

	<!--Mínimo
	y Máximo 18 caracteres-->
	<xs:simpleType name="MinMax18Caracteres">
		<xs:restriction base="xs:string">
			<xs:length value="18" />
		</xs:restriction>
	</xs:simpleType>

	<!--Mínimo
	y Máximo 13 caracteres-->
	<xs:simpleType name="MinMax13Caracteres">
		<xs:restriction base="xs:string">
			<xs:length value="13" />
		</xs:restriction>
	</xs:simpleType>

	<!--Fecha
	AAAA-MM-DD-->
	<xs:simpleType name="DateType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{4}-\d{2}-\d{2}" />
		</xs:restriction>
	</xs:simpleType>

	<!--Sexo
	con 2 opciones-->
	<xs:simpleType name="Sexo2Options">
		<xs:restriction base="xs:string">
			<xs:enumeration value="masculino" />
			<xs:enumeration value="femenino" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Sexo con 4 opciones-->
	<xs:simpleType name="Sexo4Options">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Masculino" />
			<xs:enumeration value="Femenino" />
			<xs:enumeration value="No binario" />
			<xs:enumeration value="Otro" />
		</xs:restriction>
	</xs:simpleType>

	<!--5
	dígitos-->
	<xs:simpleType name="MinMax5Digitos">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,5}" />
		</xs:restriction>
	</xs:simpleType>

	<!--Minimo
	5 Máximo 10 dígitos-->
	<xs:simpleType name="Min5Max10Digitos">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{5,10}" />
		</xs:restriction>
	</xs:simpleType>

	<!--Máximo
	500 caracteres-->
	<xs:simpleType name="Max500Caracteres">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500" />
		</xs:restriction>
	</xs:simpleType>

	<!--Mínimo
	2 caracteres sin Máximo-->
	<xs:simpleType name="Min2Caracteres">
		<xs:restriction base="xs:string">
			<xs:minLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<!--Menor
	a N-->
	<xs:simpleType name="AnioType">
		<xs:restriction base="xs:gYear">
			<xs:maxInclusive value="2025" />
		</xs:restriction>
	</xs:simpleType>

	<!--Entre
	0 y 9999-->
	<xs:simpleType name="Horas4DigitosType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="9999" />
		</xs:restriction>
	</xs:simpleType>

	<!--Máximo
	50 caracteres-->
	<xs:simpleType name="Folio50Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<!--Vigencias-->
	<xs:complexType name="VigenciaType">
		<xs:attribute name="Inicio" type="DateType" use="required" />
		<xs:attribute name="Fin" type="DateType" use="required" />
	</xs:complexType>

	<!--1000
	caracteres-->
	<xs:simpleType name="Texto1000Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000" />
		</xs:restriction>
	</xs:simpleType>

	<!--70
	Caracteres-->
	<xs:simpleType name="AlfaNum70Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70" />
		</xs:restriction>
	</xs:simpleType>

	<!--Citas-->
	<xs:complexType name="CitasType">
		<xs:sequence>
			<xs:element name="Cita" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="URLCita" type="xs:string" />
						<xs:element name="CitaA" type="xs:integer" />
						<xs:element name="CitaB" type="xs:integer" />
						<xs:element name="TotalDeCitas" type="xs:integer" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CitasLibroType">
		<xs:sequence>
			<xs:element name="CitaLibro" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="URLCita" type="xs:string" />
						<xs:element name="CitaA" type="xs:integer" />
						<xs:element name="CitaB" type="xs:integer" />
						<xs:element name="TotalDeCitas" type="xs:integer" />
						<xs:element name="EjeSECIHTI" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--Autores-->
	<xs:complexType name="AutoresType">
		<xs:sequence>
			<xs:element name="Autor" type="AutorType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AutorType">
		<xs:sequence>
			<xs:element name="Nombre" type="xs:string" />
			<xs:element name="PrimerApellido" type="xs:string" />
			<xs:element name="SegundoApellido" type="xs:string" minOccurs="0" />
			<xs:element name="ORCID" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="Orden" use="required" type="xs:integer" />
	</xs:complexType>

</xs:schema>