files/schemas/DTD/PRODEP.dtd

<!-- Raíz -->
<!ELEMENT cvu (
    Identificacion,
    EstudiosRealizados,
    DatosLaborales,
    AreaDisciplinaActual,
    Produccion,
    Docencia,
    Tutorias,
    DireccionIndividualizada,
    GestionAcademica,
    LineaGAC,
    BeneficiosExternos,
    ProyectosDeInvestigacion,
    BeneficiosPROMEP,
    CuerpoAcademico,
    ProgramasEducativos
)>

<!-- Identificación -->
<!ELEMENT Identificacion (
    Nombre,
    Genero,
    RFC,
    CURP,
    NacidoEn,
    FechaNacimiento,
    IES
)>

<!-- Estudios Realizados -->
<!ELEMENT EstudiosRealizados (
    Estudio+
)>

<!-- Datos Laborales -->
<!ELEMENT DatosLaborales (
    Trabajo*
)>

<!-- Área Disciplina Actual -->
<!ELEMENT AreaDisciplinaActual (
    Area,
    Disciplina
)>

<!-- Produccion -->
<!ELEMENT Produccion (
    ArticuloRevistaIndexada|
    CapituloLibro|
    ArticuloArbitrado|
    Memorias
)*>

<!-- Docencia -->
<!ELEMENT Docencia (
    Curso*
)>

<!-- Tutorías -->
<!ELEMENT Tutorias (
    TutoriaImpartida*
)>

<!-- Dirección Individual -->
<!ELEMENT DireccionIndividualizada (
    ProyectoDirigido*
)>

<!-- Gestión Académica -->
<!ELEMENT GestionAcademica (
    Gestion*
)>

<!-- Línea GAC -->
<!ELEMENT LineaGAC (
    LGAC*
)>

<!-- Beneficios Externos -->
<!ELEMENT BeneficiosExternos (
    BeneficioExterno*
)>

<!-- Proyectos de Investigación -->
<!ELEMENT ProyectosDeInvestigacion (
    ProyectoInvestigacion*
)>

<!-- Beneficios de PROMEP -->
<!ELEMENT BeneficiosPROMEP (
    BeneficioPROMEP*
)>

<!-- CuerpoAcadémico -->
<!ELEMENT CuerpoAcademico (
    Nombre,
    Clave,
    GradoDeConsolidacion,
    LineasQueCultivaElCuerpo
)>

<!-- Programas Educativos -->
<!ELEMENT ProgramasEducativos (
    Programa*
)>

<!-- Estudio -->
<!ELEMENT Estudio (
    Nivel,
    EstudiosEn,
    AreaDisciplina,
    Institucion,
    Pais,
    FechaInicio,
    FechaFin,
    FechaTitulo
)>

<!-- Trabajo -->
<!ELEMENT Trabajo (
    Nombramiento, 
    TipoNombramiento,
    Dedicacion,
    Institucion,
    Dependencia,
    UnidadAcademica,
    InicioContrato,
    FinContrato?,
    Cronologia
)>

<!-- Articulo Revista Indexada -->
<!ELEMENT ArticuloRevistaIndexada (
    Autores,
    Titulo,
    Descripcion,
    EstadoActual,
    Pais,
    NombreRevista,
    Editorial,
    DeLaPagina,
    ALaPagina,
    Volumen,
    IndiceDeRegistro,
    ISSN,
    Anio,
    DireccionAlArticulo,
    Proposito,
    ConsiderarEnElCurriculum,
    Miembros,
    LGACS
)>

<!-- Capítulo de Libro -->
<!ELEMENT CapituloLibro (
    Autores,
    Titulo,
    EstadoActual,
    Pais,
    Editorial,
    Edicion, 
    Tiraje,
    ISBN,
    Anio,
    Proposito 
)>

<!-- Articulo Arbitrado -->
<!ELEMENT ArticuloArbitrado (
    Autores,
    Titulo,
    EstadoActual,
    Pais,
    NombreRevista,
    Editorial,
    Volumen,
    ISSN,
    Anio,
    Proposito,
    ConsiderarEnElCurriculum,
    Miembros,
    LGACS
)>

<!-- Memorias -->
<!ELEMENT Memorias (
    Autores,
    Titulo,
    NombreCongreso,
    Pais,
    Estado,
    Ciudad,
    Anio,
    DeLaPagina,
    ALaPagina,
    EstadoActual,
    Proposito,
    ConsiderarEnElCurriculum,
    LGACS
)>

<!-- Curso -->
<!ELEMENT Curso (
    Nombre,
    IES,
    DES,
    ProgramaEducativo,
    Nivel,
    FechaInicio,
    NoAlumnos,
    Semanas,
    HorasPorMes,
    HorasPorSemana
)>

<!-- Tutoría Impartida -->
<!ELEMENT TutoriaImpartida (
    Tutoria,
    NoEstudiantes,
    Nivel,
    ProgramaEducativo,
    FechaInicio,
    FechaTermino,
    TipoTutelaje,
    EstadoTutelaje
)>

<!-- ProyectoDirigido -->
<!ELEMENT ProyectoDirigido (
    Titulo,
    Grado,
    FechaInicio,
    FechaTermino,
    NoAlumnos,
    EstadoDeDireccion,
    ConsiderarEnElCurriculum,
    Miembros,
    LGACs
)>

<!-- Gestión -->
<!ELEMENT Gestion (
    Tipo,
    Cargo,
    Funcion,
    OrganoPresentado,
    Aprobado,
    Resultados,
    Estado,
    FechaInicio,
    FechaTermino,
    FechaDeUltimoInforme,
    HorasPorSemana
)>

<!-- LGAC -->
<!ELEMENT LGAC (
    Linea,
    ActividadesRealiza,
    HorasPorSemana
)>

<!-- Beneficio Externo -->
<!ELEMENT BeneficioExterno (
    Tipo,
    Nivel,
    FechaInicial,
    FechaFinal,
    Monto
)>

<!-- Proyecto Investigacion -->
<!ELEMENT ProyectoInvestigacion (
    Titulo,
    NombrePatrocinador,
    FechaInicio,
    FechaFin,
    TipoPatrocinador,
    Investigadores,
    AlumnosParticipantes,
    ActividadesRealizadas,
    ConsiderarEnElCurriculum,
    Miembros,
    LGACs
)>

<!-- BeneficioPROMEP -->
<!ELEMENT BeneficioPROMEP (
    IES,
    Solicitud,
    Vigencia,
    Estado
)>

<!-- Programa -->
<!ELEMENT Programa (
    ProgramaEducativo,
    Fecha,
    TipoDeActualizacion
)>

<!-- Elementos Simples -->
<!ELEMENT Fecha (#PCDATA)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT Genero (#PCDATA)>
<!ELEMENT RFC (#PCDATA)>
<!ELEMENT CURP (#PCDATA)>
<!ELEMENT NacidoEn (#PCDATA)>
<!ELEMENT FechaNacimiento (#PCDATA)>
<!ELEMENT IES (#PCDATA)>
<!ELEMENT Nivel (#PCDATA)>
<!ELEMENT EstudiosEn (#PCDATA)>
<!ELEMENT AreaDisciplina (#PCDATA)>
<!ELEMENT Institucion (#PCDATA)>
<!ELEMENT Pais (#PCDATA)>
<!ELEMENT FechaInicio (#PCDATA)>
<!ELEMENT FechaFin (#PCDATA)>
<!ELEMENT FechaTitulo (#PCDATA)>
<!ELEMENT Nombramiento (#PCDATA)>
<!ELEMENT TipoNombramiento (#PCDATA)>
<!ELEMENT Dedicacion (#PCDATA)>
<!ELEMENT Dependencia (#PCDATA)>
<!ELEMENT UnidadAcademica (#PCDATA)>
<!ELEMENT InicioContrato (#PCDATA)>
<!ELEMENT FinContrato (#PCDATA)>
<!ELEMENT Cronologia (#PCDATA)>
<!ELEMENT Area (#PCDATA)>
<!ELEMENT Disciplina (#PCDATA)>
<!ELEMENT Autores (#PCDATA)>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT Descripcion (#PCDATA)>
<!ELEMENT EstadoActual (#PCDATA)>
<!ELEMENT NombreRevista (#PCDATA)>
<!ELEMENT Editorial (#PCDATA)>
<!ELEMENT DeLaPagina (#PCDATA)>
<!ELEMENT ALaPagina (#PCDATA)>
<!ELEMENT Volumen (#PCDATA)>
<!ELEMENT IndiceDeRegistro (#PCDATA)>
<!ELEMENT ISSN (#PCDATA)>
<!ELEMENT Anio (#PCDATA)>
<!ELEMENT DireccionAlArticulo (#PCDATA)>
<!ELEMENT Proposito (#PCDATA)>
<!ELEMENT ConsiderarEnElCurriculum (#PCDATA)>
<!ELEMENT Miembros (#PCDATA)>
<!ELEMENT LGACS (#PCDATA)>
<!ELEMENT LGACs (#PCDATA)>
<!ELEMENT Edicion (#PCDATA)>
<!ELEMENT Tiraje (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT Clave (#PCDATA)>
<!ELEMENT GradoDeConsolidacion (#PCDATA)>
<!ELEMENT LineasQueCultivaElCuerpo (#PCDATA)>
<!ELEMENT ProgramaEducativo (#PCDATA)>
<!ELEMENT TipoDeActualizacion (#PCDATA)>
<!ELEMENT NombreCongreso (#PCDATA)>
<!ELEMENT Estado (#PCDATA)>
<!ELEMENT Ciudad (#PCDATA)>
<!ELEMENT DES (#PCDATA)>
<!ELEMENT NoAlumnos (#PCDATA)>
<!ELEMENT Semanas (#PCDATA)>
<!ELEMENT HorasPorMes (#PCDATA)>
<!ELEMENT HorasPorSemana (#PCDATA)>
<!ELEMENT Tutoria (#PCDATA)>
<!ELEMENT NoEstudiantes (#PCDATA)>
<!ELEMENT FechaTermino (#PCDATA)>
<!ELEMENT TipoTutelaje (#PCDATA)>
<!ELEMENT EstadoTutelaje (#PCDATA)>
<!ELEMENT Grado (#PCDATA)>
<!ELEMENT EstadoDeDireccion (#PCDATA)>
<!ELEMENT Tipo (#PCDATA)>
<!ELEMENT Cargo (#PCDATA)>
<!ELEMENT Funcion (#PCDATA)>
<!ELEMENT OrganoPresentado (#PCDATA)>
<!ELEMENT Aprobado (#PCDATA)>
<!ELEMENT Resultados (#PCDATA)>
<!ELEMENT FechaDeUltimoInforme (#PCDATA)>
<!ELEMENT Linea (#PCDATA)>
<!ELEMENT ActividadesRealiza (#PCDATA)>
<!ELEMENT FechaInicial (#PCDATA)>
<!ELEMENT FechaFinal (#PCDATA)>
<!ELEMENT Monto (#PCDATA)>
<!ELEMENT NombrePatrocinador (#PCDATA)>
<!ELEMENT TipoPatrocinador (#PCDATA)>
<!ELEMENT Investigadores (#PCDATA)>
<!ELEMENT AlumnosParticipantes (#PCDATA)>
<!ELEMENT ActividadesRealizadas (#PCDATA)>
<!ELEMENT Solicitud (#PCDATA)>
<!ELEMENT Vigencia (#PCDATA)>

<!-- Atributos -->
<!ATTLIST Vigencia Inicio CDATA #REQUIRED>
<!ATTLIST Vigencia Fin CDATA #REQUIRED>