files/schemas/DTD/Rizoma.dtd

<!--Elemento Raiz-->
<!ELEMENT cvu (
    MiPerfil,
    TrayectoriaAcademica,
    TrayectoriaProfesional
)>

<!--Apartados Principales-->

<!--Apartado MI PERFIL-->
<!ELEMENT MiPerfil (
    Nombre, 
    Semblanza,
    ContactoDocente,
    Habilidades?,
    Intereses?,
    AreaDeConocimiento,
    IdentificadoresDeAutor?,
    InformacionGeneral,
    Domicilio,
    ContactosDeEmergencia?,
    DependientesEconomicos?
)>

<!--Apartado TRAYECTORIA ACADÉMICA-->
<!ELEMENT TrayectoriaAcademica (
    Trayectoria+,
    CursosTomados?,
    CertificacionesTomadas?,
    LogrosAlcanzados?,
    IdiomasLenguas?
)>

<!--Apartado TRAYECTORIA PROFESIONAL-->
<!ELEMENT TrayectoriaProfesional (
    Empleos?,
    Produccion*,
    EvaluacionesRealizadas?,
    EstanciasTomadas?,
    HCTI?,
    AccesoUniversalAlConocimiento?,
    ENI_GEMA_Sisdai?
)>

<!--Elementos Complejos-->

<!ELEMENT DependientesEconomicos (DependienteEconomico*)>

<!ELEMENT DependienteEconomico (DependienteMexicano | DependienteExtranjero)>

<!ELEMENT DependienteMexicano (
    CURP,
    Nombre,
    PrimerApellido,
    SegundoApellido?,
    FechaDeNacimiento,
    Edad,
    Parentesco,
    Sexo,
    Orden
)>

<!ELEMENT DependienteExtranjero (
    Nombre,
    PrimerApellido,
    SegundoApellido?,
    FechaDeNacimiento,
    Edad,
    Parentesco,
    Sexo,
    Orden
)>

<!--Datos de Contacto-->
<!ELEMENT ContactoDocente (
    CorreoDocente*,
    MovilDocente*,
    TelefonoDocente*,
    RedSocialDocente?
)>

<!--Habilidades-->
<!ELEMENT Habilidades (Habilidad*)>

<!--Intereses-->
<!ELEMENT Intereses (Interes*)>

<!--Área de Conocimiento-->
<!ELEMENT AreaDeConocimiento (
    Area,
    Campo,
    Disciplina,
    Subdisciplina
)>

<!--Identificadores de Autor-->
<!ELEMENT IdentificadoresDeAutor (Identificador*)>

<!--Informacion General-->
<!ELEMENT InformacionGeneral (
    CURP,
    Nombre,
    PrimerApellido,
    SegundoApellido?,
    FechaDeNacimiento,
    Sexo,
    PaisDeNacimiento,
    EntidadFederativa,
    RFC,
    EstadoCivil,
    Nacionalidad
)>

<!--Domicilio-->
<!ELEMENT Domicilio (DomicilioMexico | DomicilioExtranjero)>

<!--Domicilio Mexicano-->
<!ELEMENT DomicilioMexico (
    CodigoPostal,
    Estado,
    MunicipioAlcaldia,
    Localidad,
    Asentamiento?,
    TipoAsentamiento?,
    TipoDomicilio,
    ReferenciasDomicilio*,
    DescripcionDomicilio*,
    (DomicilioUrbano* | DomicilioRural*)
)>

<!--Domicilio Urbano-->
<!ELEMENT DomicilioUrbano (
    TipoDeVialidad,
    NombreDeLaVialidad,
    NumeroExterior?,
    NumeroInterior?
)>

<!--Domicilio rural-->
<!ELEMENT DomicilioRural (
    TipoDeVialidad,
    NombreDeLaVialidad,
    Administracion?,
    DerechoDeTransito?,
    Codigo?,
    OrigenTramo?,
    DestinoTramo?,
    Margen?,
    Cadenamiento?,
    NumeroExterior?,
    NumeroInterior?
)>

<!--DomicilioExtranjero-->
<!ELEMENT DomicilioExtranjero (
    Pais,
    CodigoPostal,
    Estado,
    Ciudad,
    Condado,
    Calle,
    Numero,
    Descripcion
)>

<!--Contactos de Emergencia-->
<!ELEMENT ContactosDeEmergencia (ContactoEmergencia*)>
<!ELEMENT ContactoEmergencia (
    Nombre,
    PrimerApellido,
    SegundoApellido?,
    Parentesco,
    FechaDeNacimiento,
    Sexo,
    CorreoContacto,
    Lada,
    TelefonoContacto,
    MovilContacto,
    MedioPreferente,
    (ContactoMexico | ContactoExtranjero)
)>


<!--Contacto Mexicano-->
<!ELEMENT ContactoMexico (
    CodigoPostal,
    Estado,
    MunicipioAlcaldia,
    TipoAsentamiento
)>

<!--Contacto Extranjero-->
<!ELEMENT ContactoExtranjero (
    Pais,
    CodigoPostal,
    Estado,
    Ciudad,
    Condado,
    Calle,
    Numero,
    Referencias
)>

<!--Trayectoria del Docente-->
<!ELEMENT Trayectoria (
    NivelDeEscolaridad,
    Titulo,
    EstadoDelGrado,
    InstitucionCompleja+
)>

<!--Institucion Compleja-->
<!ELEMENT InstitucionCompleja (
    (InstitucionNacional | InstitucionExtranjera)
)>

<!--Institucion Nacional-->
<!ELEMENT InstitucionNacional (
    (SectorSimple | SectorEstatal | SectorMunicipal)
)>

<!--Sector Simple-->
<!ELEMENT SectorSimple (
    Nombre
)>

<!--Sector Estatal-->
<!ELEMENT SectorEstatal (
    Nombre,
    Entidad
)>

<!--Sector Municipal-->
<!ELEMENT SectorMunicipal (
    Nombre,
    Entidad,
    MunicipioAlcaldia
)>

<!--Institucion Extranjera-->
<!ELEMENT InstitucionExtranjera (
    Nombre,
    Pais
)>

<!--Cursos tomados-->
<!ELEMENT CursosTomados (
    CursoComplejo*
)>

<!--Curso Complejo-->
<!ELEMENT CursoComplejo (
    TipoDeFormacionContinua,
    Nombre,
    Anio,
    HorasTotales,
    InstitucionCompleja
)>

<!-- Certificaciones Tomadas -->

<!ELEMENT CertificacionesTomadas (
    CertificacionCompleja*
)>

<!-- Certificacion Compleja -->

<!ELEMENT CertificacionCompleja (
    NumeroDeFolio,
    ConsejoOtorgado,
    Nombre,
    Especialidad,
    Vigencia
)>

<!-- Logros alcanzados-->

<!ELEMENT LogrosAlcanzados (
    LogroComplejo*
)>

<!-- Logro Complejo -->

<!ELEMENT LogroComplejo ((LogroSECIHTI | LogroOtros))>

<!-- Logros de SECIHTI-->

<!ELEMENT LogroSECIHTI (
    Nombre,
    Anio
)>

<!--Logro Otros-->
<!ELEMENT LogroOtros (
    Anio,
    Nombre,
    InstitucionCompleja,
    Pais,
    Descripcion
)>

<!--Idiomas o Lenguas del Docente-->
<!ELEMENT IdiomasLenguas (IdiomaComplejo*)>

<!--Idioma Complejo--> 
<!ELEMENT IdiomaComplejo (
    Idioma,
    GradoDeDominio,
    NivelDeConversacion,
    NivelDeLectura,
    NivelDeEscritura,
    CertificacionIdioma?
)>

<!--Certificacion de Idioma-->
<!ELEMENT CertificacionIdioma (
    Institucion,
    FechaDeEvaluacion,
    Documento,
    Vigencia,
    Puntos,
    Nivel
)>

<!--Empleos-->
<!ELEMENT Empleos (EmpleoComplejo*)>

<!--Empleo Complejo-->
<!ELEMENT EmpleoComplejo (
    InstitucionCompleja,
    FechaInicio,
    Nombre,
    Logros?,
    FechaFin?
)>

<!--Produccion-->
<!ELEMENT Produccion (
    (Articulo*,Libro*,Capitulo*)|
    (Desarrollo*,PropiedadIntelectual*,Transferencia*)
)>

<!--Articulo-->
<!ELEMENT Articulo (
    ISNNImpreso?,
    ISNNElectronico?,
    DOI,
    NombreDeLaRevista,
    TituloDeArticulo,
    Anio,
    Programa?,
    Rol,
    Estatus,
    Objetivo,
    Citas?,
    Autores,
    EjeSECIHTI
)>

<!--Citas Complejas-->
<!ELEMENT Citas (Cita*)>

<!--Cita-->
<!ELEMENT Cita (
    URLCita,
    CitaA,
    CitaB,
    TotalDeCitas
)>

<!--Autores-->
<!ELEMENT Autores (Autor*)>

<!ELEMENT Autor (
    Nombre,
    PrimerApellido,
    SegundoApellido?,
    ORCID
)>

<!--Libros-->
<!ELEMENT Libro (
    ISBN,
    DOI,
    Titulo,
    Anio,
    Editorial,
    Pais,
    Idioma,
    ISBNTraducido,
    IdiomaTraducido,
    TituloTraducido,
    Programa?,
    Rol,
    EstadoDePublicacion,
    Objetivo,
    CitasLibro?,
    Autores
)>

<!--Citas Libro-->
<!ELEMENT CitasLibro (CitaLibro*)>

<!--Cita Libro-->
<!ELEMENT CitaLibro (
    URLCita,
    CitaA,
    CitaB,
    TotalDeCitas,
    EjeSECIHTI
)>

<!-- Capítulos -->
<!ELEMENT Capitulo (
    ISBN,
    DOI,
    Titulo,
    Anio,
    Editorial,
    TituloDelCapitulo,
    NumeroDeCapitulo,
    Programa?,
    Rol,
    EstadoDePublicacion,
    Objetivo,
    Citas?,
    Autores,
    EjeSECIHTI
)>

<!--Desarrollos-->
<!ELEMENT Desarrollo (DesarrolloProducto | InnovacionProducto)>

<!-- Producto de Desarrollo -->
<!ELEMENT DesarrolloProducto (
    Nombre,
    Tipo,
    Descripcion,
    ObjetivosDelProducto,
    ProblemaQueAtiende,
    PersonasBeneficiadas,
    Justificacion,
    ImpactoEnBeneficiados,
    Programa?,
    TipoDeApoyo?,
    TituloUltimoProyectoApoyado?,
    NumeroUltimoProyectoApoyado?,
    NivelDeMadurezTecnologica,
    OtrosResultadosRelevantes,
    Rol,
    ActividadesRealizadas,
    PeriodoDeParticipacion,
    PrincipalesResultados,
    Actores,
    EjeSECIHTI
)>

<!--Actores-->
<!ELEMENT Actores (Actor*)>

<!ELEMENT Actor (
    Nombre,
    PrimerApellido,
    SegundoApellido?,
    Rol
)>

<!--Producto de Inovación-->
<!ELEMENT InnovacionProducto (
    Nombre,
    ObjetivosDelProducto,
    ProblemaQueAtiende,
    PersonasBeneficiadas,
    Justificacion,
    ImpactoEnBeneficiados,
    DescripcionDeLaInnovacion,
    SectorSCIAN,
    SubsectorSCIAN,
    Rama,
    Subrama,
    Clase,
    SectorOCDE,
    Division,
    Grupo,
    ClaseOCDE,
    Programa?,
    TipoDeApoyo?,
    TituloUltimoProyectoApoyado?,
    NumeroUltimoProyectoApoyado?,
    NivelDeMadurezTecnologica,
    OtrosResultadosRelevantes,
    Rol,
    ActividadesRealizadas,
    PeriodoDeParticipacion,
    PrincipalesResultados,
    Actores,
    EjeTematico
)>

<!--PropiedadIntelectual-->
<!ELEMENT PropiedadIntelectual (
    PropiedadMexico*,
    PropiedadInternacional*,
    PropiedadAmbas*
)>

<!--PropiedadMexico-->
<!ELEMENT PropiedadMexico (
    TipoDeProteccion,
    Titulo,
    Resumen,
    Solicitantes,
    Rol,
    NumeroDeSolicitud,
    FechaDePresentacion,
    Estado,
    EjesTematicos
)>

<!ELEMENT Solicitantes (Solicitante*)>

<!ELEMENT Solicitante (
    Nombre,
    PrimerApellido,
    SegundoApellido?,
    Rol
)>

<!--Propiedad Internacional-->
<!ELEMENT PropiedadInternacional (
    TipoDeProteccion,
    Titulo,
    Resumen,
    Solicitantes,
    Rol,
    NumeroDeSolicitud,
    NumeroDePublicacion,
    Estado,
    EjesTematicos
)>

<!--Propiedad Ambas-->
<!ELEMENT PropiedadAmbas (
    TipoDeProteccion,
    Titulo,
    Resumen,
    Solicitantes,
    Rol,
    NumeroDeSolicitudMexico,
    FechaDePresentacionMexico,
    NumeroDeSolicitudInternacional,
    NumeroDePublicacionInternacional,
    Estado,
    EjesTematicos
)>

<!--Transferencia-->
<!ELEMENT Transferencia (
    TipoDeActividad,
    DescripcionDeLaActividad,
    Rol,
    DescripcionDeActividades,
    PeriodoDeParticipacion,
    Resultados,
    InstitucionCompleja,
    Actores,
    EjesTematicos
)>


<!ELEMENT EvaluacionesRealizadas (Evaluacion*)>

<!ELEMENT Evaluacion (
    EvaSECIHTI,
    EvaOtros
)>

<!ELEMENT EvaSECIHTI (
    Nombre,
    FechaAsignacion,
    FechaAceptacion,
    FechaDeEvaluacion,
    Descripcion
)>

<!ELEMENT EvaOtros (
    Institucion,
    ProductoEvaluado,
    FechaInicio,
    FechaFinalizacion,
    CargoDesempeniado
)>

<!ELEMENT EstanciasTomadas (Estancia*)>

<!ELEMENT Estancia (
    InstitucionCompleja,
    Nombre,
    FechaInicio,
    FechaFinalizacion,
    Tipo,
    Logros
)>

<!ELEMENT HCTI (Comunidad*)>

<!ELEMENT Comunidad (
    Docencia|
    TrabajosDeTitulacion|
    DesarrolloInstitucional
)>

<!ELEMENT Docencia (
    CursosImpartidos*,
    DiplomadosTomados*
)>

<!ELEMENT CursosImpartidos (
    CursoSNP?,
    CursoNoSNP?
)>

<!ELEMENT CursoSNP (
    Institucion,
    Programa,
    Curso,
    Horas,
    FechaInicio,
    FechaFinalizacion,
    Nivel?
)>

<!ELEMENT CursoNoSNP (
    InstitucionCompleja,
    Programa,
    Curso,
    Horas,
    FechaInicio,
    FechaFinalizacion,
    Nivel?
)>

<!ELEMENT DiplomadosTomados (
    InstitucionCompleja,
    Diplomado,
    Curso,
    Anio,
    Horas
)>

<!ELEMENT TrabajosDeTitulacion (
    TrabajoSNP*,
    TrabajoNoSNP*
)>

<!ELEMENT TrabajoSNP (
    Tipo,
    Institucion,
    Programas,
    Titulo,
    EstadoDelTrabajo,
    AutorTrabajo+,
    GradoAcademicoDelTrabajo
)>

<!ELEMENT AutorTrabajo (
    Nombre,
    PrimerApellido,
    SegundoApellido?,
    Rol
)>

<!ELEMENT TrabajoNoSNP (
    Tipo,
    InstitucionCompleja,
    Titulo,
    EstadoDelTrabajo,
    AutorTrabajo,
    GradoAcademicoDelTrabajo
)>

<!ELEMENT DesarrolloInstitucional (
    Proyectos,
    PlanesDeEstudio,
    EjesProgramaticos
)>

<!ELEMENT AccesoUniversalAlConocimiento (AccesoConocimiento*)>

<!ELEMENT AccesoConocimiento (
    Difusion*,
    Divulgacion*,
    Participacion*
)>

<!ELEMENT Difusion (
    Articulo*,
    Libro*,
    Capitulo*
)>

<!ELEMENT Divulgacion (
    Titulo,
    TipoParticipacion,
    TipoEvento,
    InstitucionOrganizadora,
    DirigidoA,
    Fecha,
    Medio,
    NotasPeriodisticas,
    ProductoObtenido+
)>

<!ELEMENT Participacion (
    Nombre,
    Congreso,
    Titulo,
    TipoParticipacion,
    Pais,
    Fecha
)>

<!ELEMENT ENI_GEMA_Sisdai (ElementoDelENI*)>

<!ELEMENT ElementoDelENI (
    ENI*,
    GEMA*,
    Sisdai*
)>

<!ELEMENT ENI (URL)>
<!ELEMENT GEMA (URL)>

<!ELEMENT Sisdai (
    Bibliotecas,
    Descripcion
)>

<!--Elementos simples -->
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT PrimerApellido (#PCDATA)>
<!ELEMENT SegundoApellido (#PCDATA)>
<!ELEMENT Semblanza (#PCDATA)>
<!ELEMENT CorreoDocente (#PCDATA)>
<!ELEMENT CorreoContacto (#PCDATA)>
<!ELEMENT MovilDocente (#PCDATA)>
<!ELEMENT TelefonoDocente (#PCDATA)>
<!ELEMENT RedSocialDocente (#PCDATA)>
<!ELEMENT Habilidad (#PCDATA)>
<!ELEMENT Interes (#PCDATA)>
<!ELEMENT Area (#PCDATA)>
<!ELEMENT Campo (#PCDATA)>
<!ELEMENT Disciplina (#PCDATA)>
<!ELEMENT Subdisciplina (#PCDATA)>
<!ELEMENT Identificador (#PCDATA)>
<!ELEMENT CURP (#PCDATA)>
<!ELEMENT FechaDeNacimiento (#PCDATA)>
<!ELEMENT Sexo (#PCDATA)>
<!ELEMENT PaisDeNacimiento (#PCDATA)>
<!ELEMENT EntidadFederativa (#PCDATA)>
<!ELEMENT RFC (#PCDATA)>
<!ELEMENT EstadoCivil (#PCDATA)>
<!ELEMENT Nacionalidad (#PCDATA)>
<!ELEMENT CodigoPostal (#PCDATA)>
<!ELEMENT Estado (#PCDATA)>
<!ELEMENT MunicipioAlcaldia (#PCDATA)>
<!ELEMENT Localidad (#PCDATA)>
<!ELEMENT Asentamiento (#PCDATA)>
<!ELEMENT TipoAsentamiento (#PCDATA)>
<!ELEMENT TipoDomicilio (#PCDATA)>
<!ELEMENT ReferenciasDomicilio (#PCDATA)>
<!ELEMENT DescripcionDomicilio (#PCDATA)>
<!ELEMENT NumeroExterior (#PCDATA)>
<!ELEMENT NumeroInterior (#PCDATA)>
<!ELEMENT TipoDeVialidad (#PCDATA)>
<!ELEMENT NombreDeLaVialidad (#PCDATA)>
<!ELEMENT Administracion (#PCDATA)>
<!ELEMENT DerechoDeTransito (#PCDATA)>
<!ELEMENT Codigo (#PCDATA)>
<!ELEMENT OrigenTramo (#PCDATA)>
<!ELEMENT DestinoTramo (#PCDATA)>
<!ELEMENT Margen (#PCDATA)>
<!ELEMENT Cadenamiento (#PCDATA)>
<!ELEMENT Pais (#PCDATA)>
<!ELEMENT Ciudad (#PCDATA)>
<!ELEMENT Condado (#PCDATA)>
<!ELEMENT Calle (#PCDATA)>
<!ELEMENT Numero (#PCDATA)>
<!ELEMENT Descripcion (#PCDATA)>
<!ELEMENT Parentesco (#PCDATA)>
<!ELEMENT Lada (#PCDATA)>
<!ELEMENT TelefonoContacto (#PCDATA)>
<!ELEMENT MovilContacto (#PCDATA)>
<!ELEMENT MedioPreferente (#PCDATA)>
<!ELEMENT Referencias (#PCDATA)>
<!ELEMENT NivelDeEscolaridad (#PCDATA)>
<!ELEMENT Titulo (#PCDATA)>
<!ELEMENT EstadoDelGrado (#PCDATA)>
<!ELEMENT Entidad (#PCDATA)>
<!ELEMENT TipoDeFormacionContinua (#PCDATA)>
<!ELEMENT Anio (#PCDATA)>
<!ELEMENT HorasTotales (#PCDATA)>
<!ELEMENT NumeroDeFolio (#PCDATA)>
<!ELEMENT ConsejoOtorgado (#PCDATA)>
<!ELEMENT Especialidad (#PCDATA)>
<!ELEMENT Vigencia (#PCDATA)>
<!ELEMENT Idioma (#PCDATA)>
<!ELEMENT GradoDeDominio (#PCDATA)>
<!ELEMENT NivelDeConversacion (#PCDATA)>
<!ELEMENT NivelDeLectura (#PCDATA)>
<!ELEMENT NivelDeEscritura (#PCDATA)>
<!ELEMENT Institucion (#PCDATA)>
<!ELEMENT FechaDeEvaluacion (#PCDATA)>
<!ELEMENT Documento (#PCDATA)>
<!ELEMENT Puntos (#PCDATA)>
<!ELEMENT Nivel (#PCDATA)>
<!ELEMENT FechaInicio (#PCDATA)>
<!ELEMENT Logros (#PCDATA)>
<!ELEMENT FechaFin (#PCDATA)>
<!ELEMENT ISNNImpreso (#PCDATA)>
<!ELEMENT ISNNElectronico (#PCDATA)>
<!ELEMENT DOI (#PCDATA)>
<!ELEMENT NombreDeLaRevista (#PCDATA)>
<!ELEMENT TituloDeArticulo (#PCDATA)>
<!ELEMENT Programa (#PCDATA)>
<!ELEMENT Rol (#PCDATA)>
<!ELEMENT Estatus (#PCDATA)>
<!ELEMENT Objetivo (#PCDATA)>
<!ELEMENT EjeSECIHTI (#PCDATA)>
<!ELEMENT URLCita (#PCDATA)>
<!ELEMENT CitaA (#PCDATA)>
<!ELEMENT CitaB (#PCDATA)>
<!ELEMENT TotalDeCitas (#PCDATA)>
<!ELEMENT ORCID (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT Editorial (#PCDATA)>
<!ELEMENT ISBNTraducido (#PCDATA)>
<!ELEMENT IdiomaTraducido (#PCDATA)>
<!ELEMENT TituloTraducido (#PCDATA)>
<!ELEMENT EstadoDePublicacion (#PCDATA)>
<!ELEMENT TituloDelCapitulo (#PCDATA)>
<!ELEMENT NumeroDeCapitulo (#PCDATA)>
<!ELEMENT Tipo (#PCDATA)>
<!ELEMENT ObjetivosDelProducto (#PCDATA)>
<!ELEMENT ProblemaQueAtiende (#PCDATA)>
<!ELEMENT PersonasBeneficiadas (#PCDATA)>
<!ELEMENT Justificacion (#PCDATA)>
<!ELEMENT ImpactoEnBeneficiados (#PCDATA)>
<!ELEMENT TipoDeApoyo (#PCDATA)>
<!ELEMENT TituloUltimoProyectoApoyado (#PCDATA)>
<!ELEMENT NumeroUltimoProyectoApoyado (#PCDATA)>
<!ELEMENT NivelDeMadurezTecnologica (#PCDATA)>
<!ELEMENT OtrosResultadosRelevantes (#PCDATA)>
<!ELEMENT ActividadesRealizadas (#PCDATA)>
<!ELEMENT PeriodoDeParticipacion (#PCDATA)>
<!ELEMENT PrincipalesResultados (#PCDATA)>
<!ELEMENT DescripcionDeLaInnovacion (#PCDATA)>
<!ELEMENT SectorSCIAN (#PCDATA)>
<!ELEMENT SubsectorSCIAN (#PCDATA)>
<!ELEMENT Rama (#PCDATA)>
<!ELEMENT Subrama (#PCDATA)>
<!ELEMENT Clase (#PCDATA)>
<!ELEMENT SectorOCDE (#PCDATA)>
<!ELEMENT Division (#PCDATA)>
<!ELEMENT Grupo (#PCDATA)>
<!ELEMENT ClaseOCDE (#PCDATA)>
<!ELEMENT EjeTematico (#PCDATA)>
<!ELEMENT TipoDeProteccion (#PCDATA)>
<!ELEMENT Resumen (#PCDATA)>
<!ELEMENT NumeroDeSolicitud (#PCDATA)>
<!ELEMENT FechaDePresentacion (#PCDATA)>
<!ELEMENT EjesTematicos (#PCDATA)>
<!ELEMENT NumeroDePublicacion (#PCDATA)>
<!ELEMENT NumeroDeSolicitudMexico (#PCDATA)>
<!ELEMENT FechaDePresentacionMexico (#PCDATA)>
<!ELEMENT NumeroDeSolicitudInternacional (#PCDATA)>
<!ELEMENT NumeroDePublicacionInternacional (#PCDATA)>
<!ELEMENT TipoDeActividad (#PCDATA)>
<!ELEMENT DescripcionDeLaActividad (#PCDATA)>
<!ELEMENT DescripcionDeActividades (#PCDATA)>
<!ELEMENT Resultados (#PCDATA)>
<!ELEMENT FechaAsignacion (#PCDATA)>
<!ELEMENT FechaAceptacion (#PCDATA)>
<!ELEMENT ProductoEvaluado (#PCDATA)>
<!ELEMENT FechaFinalizacion (#PCDATA)>
<!ELEMENT CargoDesempeniado (#PCDATA)>
<!ELEMENT Diplomado (#PCDATA)>
<!ELEMENT Curso (#PCDATA)>
<!ELEMENT Horas (#PCDATA)>
<!ELEMENT Programas (#PCDATA)>
<!ELEMENT EstadoDelTrabajo (#PCDATA)>
<!ELEMENT GradoAcademicoDelTrabajo (#PCDATA)>
<!ELEMENT Proyectos (#PCDATA)>
<!ELEMENT PlanesDeEstudio (#PCDATA)>
<!ELEMENT EjesProgramaticos (#PCDATA)>
<!ELEMENT TipoEvento (#PCDATA)>
<!ELEMENT InstitucionOrganizadora (#PCDATA)>
<!ELEMENT DirigidoA (#PCDATA)>
<!ELEMENT Fecha (#PCDATA)>
<!ELEMENT Medio (#PCDATA)>
<!ELEMENT NotasPeriodisticas (#PCDATA)>
<!ELEMENT ProductoObtenido (#PCDATA)>
<!ELEMENT Congreso (#PCDATA)>
<!ELEMENT TipoParticipacion (#PCDATA)>
<!ELEMENT URL (#PCDATA)>
<!ELEMENT Bibliotecas (#PCDATA)>
<!ELEMENT Edad (#PCDATA)>
<!ELEMENT Orden (#PCDATA)>

<!--Atributos-->
<!ATTLIST ContactoEmergencia Ubicacion (Mexico | Extranjero) #REQUIRED>
<!ATTLIST NumeroInterior ParteNumerica CDATA #IMPLIED>
<!ATTLIST NumeroInterior ParteAlfanumerica CDATA #IMPLIED>
<!ATTLIST NumeroExterior ParteNumerica CDATA #IMPLIED>
<!ATTLIST NumeroExterior NumeroExteriorAnterior CDATA #IMPLIED>
<!ATTLIST NumeroExterior ParteAlfanumerica CDATA #IMPLIED>
<!ATTLIST Domicilio Ubicacion (México | Extranjero) #REQUIRED>
<!ATTLIST DomicilioMexico InformacionExtra (True | False | true | false) #IMPLIED>
<!ATTLIST ReferenciasDomicilio TipoDeCalle CDATA #IMPLIED>
<!ATTLIST ReferenciasDomicilio NombreDeLaCalle CDATA #IMPLIED>
<!ATTLIST Habilidad experiencia (25 | 50 | 75 | 100) #REQUIRED>
<!ATTLIST TelefonoDocente Principal (true | false | True | False) #REQUIRED>
<!ATTLIST MovilDocente Principal (true | false | true | false) #REQUIRED>
<!ATTLIST CorreoDocente Principal (true | false | True | False) #REQUIRED>
<!ATTLIST Identificador organizacion (ORC|Thomson|arXiv|PubMed|Open) #REQUIRED>
<!ATTLIST InstitucionCompleja TipoDeInstitucion (Nacional | Extranjera) #REQUIRED>
<!ATTLIST SectorSimple Sector (Pública-Federal | Privada) #REQUIRED>
<!ATTLIST SectorEstatal Sector (Pública-Estatal) #REQUIRED>
<!ATTLIST SectorMunicipal Sector CDATA #FIXED "Pública-Municipal">
<!ATTLIST Vigencia Inicio CDATA #REQUIRED>
<!ATTLIST Vigencia Fin CDATA #REQUIRED>
<!ATTLIST CertificacionCompleja Tipo (Certificacion | Recertificacion) #REQUIRED>
<!ATTLIST LogroComplejo Tipo (SECIHTI | Otros) #REQUIRED>
<!ATTLIST IdiomaComplejo Certificacion (True | False | true | false) #IMPLIED>
<!ATTLIST EmpleoComplejo EmpleoActual (True | False | true | false) #REQUIRED>
<!ATTLIST EmpleoComplejo EmpleoPrincipal (True | False | true | false) #IMPLIED>
<!ATTLIST EmpleoComplejo FechaFinalizacion (True | False | true | false) #IMPLIED>
<!ATTLIST Produccion Tipo (Humanista | Tecnológica) #REQUIRED>
<!ATTLIST Articulo ISNN (Impreso | Electrónico | Ambos) #REQUIRED>
<!ATTLIST Articulo ApoyoSECIHTI (True | False | true | false) #REQUIRED>
<!ATTLIST Autor Orden CDATA #REQUIRED>
<!ATTLIST Libro ApoyoSECIHTI (True | False | true | false) #REQUIRED>
<!ATTLIST Libro Dictaminado (True | False | true | false) #REQUIRED>
<!ATTLIST Capitulo ApoyoSECIHTI (True | False | true | false) #REQUIRED>
<!ATTLIST Capitulo Dictaminado (True | False | true | false) #REQUIRED>
<!ATTLIST Desarrollo Producto (Desarrollo|Innovación) #REQUIRED>
<!ATTLIST PeriodoDeParticipacion Inicio CDATA #REQUIRED>
<!ATTLIST PeriodoDeParticipacion Fin CDATA #REQUIRED>
<!ATTLIST DesarrolloProducto ApoyoSECIHTI (True | False | true | false) #REQUIRED>
<!ATTLIST PropiedadIntelectual Tipo (México | Internacional | Ambas) #REQUIRED>
<!ATTLIST Evaluacion Tipo (SECIHTI | Otros) #REQUIRED>
<!ATTLIST Comunidad Tipo (Docencia | TrabajosDeTitulacion | DesarrolloInstitucional) #REQUIRED>
<!ATTLIST CursosImpartidos Tipo (SNP | NoSNP) #REQUIRED>
<!ATTLIST TrabajosDeTitulacion Tipo (SNP | NoSNP) #REQUIRED>
<!ATTLIST Divulgacion Tipo (Nacional | Internacional) #REQUIRED>
<!ATTLIST DependienteEconomico Nacionalidad (Mexican | Foreign) #REQUIRED>
<!ATTLIST CertificacionIdioma Certificacion (True | False) #IMPLIED>